* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: system-ui;
}

body {
  background: #bebebe;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.header {
  background: #dbdbdb;
  color: #000000;
  padding: 0.5rem 2rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4666666667);
  border-radius: 0px 0 20px 20px;
  position: fixed;
  top: 0;
  width: 100vw;
}
.header .nav {
  display: flex;
  align-items: center;
  position: relative;
}
.header .nav .nav-titulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav .nav-titulo h2 {
  padding: 0 1rem;
}
.header .nav .nav-titulo .logo-img {
  height: 60px;
  object-fit: cover;
}
.header .nav .menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -300px;
  right: 40px;
  opacity: 0;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4705882353);
  background: #eaeaea;
  transition: all 0.5s;
}
.header .nav .menu .menu-item {
  transition: all 0.5s;
  padding: 0.5rem;
  margin: 0.1rem;
  border-radius: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
}
.header .nav .menu .menu-item a {
  color: #000000;
}
.header .nav .menu .menu-item:hover {
  background: #1dbf00;
}
.header .nav .menu .menu-btn-entre {
  background-color: #1dbf00;
  color: #000;
  font-weight: bold;
  padding: 0.6rem 1rem;
  border-radius: 20px;
  text-align: center;
}
.header .nav .menu .menu-btn-entre a {
  color: #fff;
  transition: color 0.3s;
}
.header .nav .menu .menu-btn:hover a {
  color: #fff;
}
.header .nav .bx-menu {
  color: #000;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.5s;
  position: absolute;
  right: 0px;
}
.header .nav .activo {
  color: #1dbf00;
  transform: rotate(180deg);
}
.header .nav .mostrar-menu {
  top: 20px;
  right: 40px;
  opacity: 1;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 1.3rem;
  /* prueba */
  margin-top: 6rem;
  background: #0a4300;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.462745098), rgba(0, 0, 0, 0.6235294118)), url("../assets/img/uruguay.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4666666667);
  /* fin prueba */
}
.hero .hero-presentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .hero-presentacion .hero-titulo {
  color: #1dbf00;
  color: #ffffff;
  font-size: 3rem;
}
.hero .hero-presentacion .hero-text {
  padding: 0.5rem 0;
  color: #dfdfdf;
  font-size: 1.3rem;
}
.hero .hero-presentacion .hero-btn {
  background: #1dbf00;
  border: solid 2px rgba(0, 0, 0, 0);
  color: #000000;
  font-size: 1.3rem;
  padding: 0.5rem;
  border-radius: 20px;
  transition: all 0.3s;
  cursor: pointer;
}
.hero .hero-presentacion .hero-btn:hover {
  color: #ffffff;
  background: #1dbf00;
  border: solid 2px #ffffff;
}
.hero .hero-img-container .hero-img {
  width: 200px;
  object-fit: cover;
  border-radius: 20px;
  display: none;
}

.equipo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.7rem;
  margin: 2rem 1.3rem;
  background: #dbdbdb;
  border-radius: 20px;
}
.equipo .equipo-titulo {
  padding: 0.5rem;
  font-size: 1.5rem;
}
.equipo .equipo-img {
  margin: 1rem;
  width: 300px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4666666667);
}
.equipo .equipo-text {
  padding: 1rem;
  background: #0a4300;
  border-radius: 20px;
  color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4666666667);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.7rem;
  margin: 1.3rem;
  border-radius: 20px;
  background: #0a4300;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4666666667);
}
.card .curso-titulo {
  margin: 0.5rem;
  padding: 0.5rem;
  color: #fff;
}
.card .card-titulo {
  background-color: #bebebe;
  border-radius: 20px;
  padding: 1rem;
  color: #000000;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4666666667);
}
.card .card-text1 {
  margin-top: 1rem;
  padding: 1rem;
  background: #bebebe;
  border-radius: 20px;
  color: #000000;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4666666667);
  font-weight: 500;
}

/*# sourceMappingURL=estilos.css.map */
