.card{
    padding: 0.7rem;
    margin: 1.3rem;
    border-radius: 20px;
    background: $gris-claro;
    box-shadow: 0px 0px 15px #00000077;
    .card-titulo{
        background-color: $verde-oscuro;
        border-radius: 20px;
        padding: 1rem;
        color: aliceblue;
    }
    .card-text1{
        margin-top: 1rem;
        padding: 1rem;
        background: $verde-oscuro;
        border-radius: 20px;
        color: #fff;
    }
    .card-text2{
        margin-top: 1rem;
        padding: 1rem;
        background: $verde-oscuro;
        border-radius: 20px;
        color: #fff;
    }
}